{% extends 'base.html' %} {% block content %}
<section class="section profile">
  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div
          class="card-body profile-card pt-4 d-flex flex-column align-items-center"
        >
          <img
            src="{{ profile.image.url }}"
            alt="Profile"
            class="rounded-circle"
          />
          <h2>{{ user.first_name }} {{ user.last_name }}</h2>
          <h3>{{ user.username }}</h3>
          <div class="social-links mt-2">
            {% if profile.twitter_link %}
            <a
              href="https://twitter.com/{{ profile.twitter_link }}"
              target="_blank"
              class="twitter"
              ><i class="bi bi-twitter"></i
            ></a>
            {% endif %} {% if profile.linkedin_link %}
            <a
              href="https://www.linkedin.com/in/{{ profile.linkedin_link }}"
              target="_blank"
              class="linkedin"
              ><i class="bi bi-linkedin"></i
            ></a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card">
        <div
          class="card-body profile-card pt-4 d-flex flex-column align-items-center"
        >
          <a href="{% url 'add_more_details_to_profile' user.id %}"
            >Add or edit additional info</a
          ><br />
          <a href="{% url 'edit_account_info' user.id %}">edit account info</a
          ><br />
          <a href="{% url 'index' %}" class="btn btn-primary">back</a>
        </div>
      </div>
    </div>

    <div class="col-xl-8">
      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
              <button
                class="nav-link active"
                data-bs-toggle="tab"
                data-bs-target="#profile-overview"
              >
                Overview
              </button>
            </li>

            <!-- <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-edit"
              >
                Edit Profile
              </button>
            </li>

            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-settings"
              >
                Settings
              </button>
            </li>

            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-change-password"
              >
                Change Password
              </button>
            </li> -->
          </ul>
          <div class="tab-content pt-2">
            <div
              class="tab-pane fade show active profile-overview"
              id="profile-overview"
            >
              <h5 class="card-title">About</h5>
              <p class="small fst-italic">{{ profile.bio }}</p>

              <h5 class="card-title">Profile Details</h5>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Full Name</div>
                <div class="col-lg-9 col-md-8">
                  {{ user.first_name }} {{ user.last_name }}
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Designation</div>
                <div class="col-lg-9 col-md-8">{{ profile.designation }}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Associated with</div>
                <div class="col-lg-9 col-md-8">
                  {{ profile.associated_with }}
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Address</div>
                <div class="col-lg-9 col-md-8">{{ profile.address }}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Phone number</div>
                <div class="col-lg-9 col-md-8">{{ profile.phone }}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Email</div>
                <div class="col-lg-9 col-md-8">{{ user.email }}</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">DOB</div>
                <div class="col-lg-9 col-md-8">{{ profile.dob }}</div>
              </div>
            </div>
          </div>
          <!-- End Bordered Tabs -->
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
