{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Dashboard - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <!-- <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" /> -->

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/quill/quill.snow.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/quill/quill.bubble.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/remixicon/remixicon.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/simple-datatables/style.css' %}"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />

    <!-- =======================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>

    <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    {% include 'navbar.html' %}
    
    <main id="main" class="main">
      <div class="pagetitle">
        <!-- <h1>Dashboard</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav> -->

        {% if messages %} {% for message in messages %}
        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endfor %} {% endif %} {% block content %} {% endblock %}
      </div>
      <!-- End Page Title -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong><span>NiceAdmin</span></strong
        >. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <script>
      $(document).ready(function () {
        var calendar = $("#calendar").fullCalendar({
          header: {
            left: "prev,next today",
            center: "title",
            right: "month,agendaWeek,agendaDay",
          },
          events: "/all_events",
          selectable: true,
          selectHelper: true,
          editable: true,
          eventLimit: true,
          select: function (start, end, allDay) {
            var title = prompt("Enter Event Title");
            var description = prompt("Enter a description for the event");
            if (title && description) {
              var start = $.fullCalendar.formatDate(start, "Y-MM-DD HH:mm:ss");
              var end = $.fullCalendar.formatDate(end, "Y-MM-DD HH:mm:ss");
              $.ajax({
                type: "GET",
                url: "/add_event",
                data: {
                  title: title,
                  start: start,
                  end: end,
                  description: description,
                },
                dataType: "json",
                success: function (data) {
                  calendar.fullCalendar("refetchEvents");
                  alert("Added Successfully");
                },
                error: function (data) {
                  alert("There is a problem!!!");
                },
              });
            }
          },
          eventResize: function (event) {
            var start = $.fullCalendar.formatDate(
              event.start,
              "Y-MM-DD HH:mm:ss"
            );
            var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
            var title = event.title;
            var description = event.description;
            var id = event.id;
            $.ajax({
              type: "GET",
              url: "/update_event",
              data: {
                title: title,
                start: start,
                end: end,
                id: id,
                description: description,
              },
              dataType: "json",
              success: function (data) {
                calendar.fullCalendar("refetchEvents");
                alert("Event Update");
              },
              error: function (data) {
                alert("There is a problem!!!");
              },
            });
          },
          eventDrop: function (event) {
            var start = $.fullCalendar.formatDate(
              event.start,
              "Y-MM-DD HH:mm:ss"
            );
            var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
            var title = event.title;
            var description = event.description;
            var id = event.id;
            $.ajax({
              type: "GET",
              url: "/update_event",
              data: {
                title: title,
                start: start,
                end: end,
                id: id,
                description: description,
              },
              dataType: "json",
              success: function (data) {
                calendar.fullCalendar("refetchEvents");
                alert("Updated Successfully");
              },
              error: function (data) {
                alert("There is a problem!!!");
              },
            });
          },
          eventClick: function (event) {
            if (confirm("Are you sure you want to remove it?")) {
              var id = event.id;
              $.ajax({
                type: "GET",
                url: "/remove",
                data: { id: id },
                dataType: "json",
                success: function (data) {
                  calendar.fullCalendar("refetchEvents");
                  alert("Event Removed");
                },
                error: function (data) {
                  alert("There is a problem!!!");
                },
              });
            }
          },
        });
      });
    </script>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/chart.js/chart.umd.js' %}"></script>
    <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
    <script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
    <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
    <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
