{% extends 'base.html' %} {% block content %}
<!-- add_more_details_to_profile.html -->
<section class="section dashboard">
  <div class="row">
    <!-- Left side columns -->
    <div class="col-lg-8">
      <div class="row">
        <!-- Sales Card -->

        <!-- End Sales Card -->

        <!-- Revenue Card -->
        <!-- End Revenue Card -->

        <!-- Customers Card -->

        <!-- End Customers Card -->
        <!-- Reports -->
        <!-- Dashboard template -->
        <!-- Add this button inside the current_dream_of_user block -->

        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                What is your current dream/short term goal?
              </h5>
              <form method="POST" action="/AddDreamFormView">
                {% csrf_token %} {{ form_1.as_p }}
                <button type="submit" class="btn btn-primary">
                  Save Dream
                </button>
              </form>
              <!-- Line Chart -->

              <!-- End Line Chart -->
            </div>
          </div>
        </div>
        <!-- End Reports -->
        {% if current_dream_of_user == None %}
        <p>your dream is null</p>
        {% else %}
        <!-- Recent Sales -->
        <div class="col-12">
          <div class="card recent-sales overflow-auto">
            <div class="card-body">
              <h5 class="card-title">
                Do you feel like you achieved your dream?
              </h5>
              <form method="POST" action="/DreamAchievedFormView">
                {% csrf_token %} {{ form_2.as_p }}
                <button type="submit" class="btn btn-primary">
                  Save Dream
                </button>
              </form>
            </div>
          </div>
        </div>
        {% endif %}
        <!-- End Recent Sales -->
        {% if current_dream_of_user %}
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Discard Dream</h5>
              <p>
                Do you feel like current dream is not worth pursuing and wish to
                startover?
              </p>
              <form method="POST" action="{% url 'discard_dream' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                  Discard Dream
                </button>
              </form>
            </div>
          </div>
        </div>
        {% endif %}

        <!-- Top Selling -->
        <div class="col-12">
          <div class="card top-selling overflow-auto">
            <div class="card-body pb-0">
              <h5 class="card-title">Top Selling <span>| Today</span></h5>
            </div>
          </div>
        </div>
        <!-- End Top Selling -->
      </div>
    </div>
    <!-- End Left side columns -->

    <!-- Right side columns -->
    <div class="col-lg-4">
      <!-- Recent Activity -->
      <div class="card">
        <!-- <div class="filter">
          <a class="icon" href="#" data-bs-toggle="dropdown"
            ><i class="bi bi-three-dots"></i
          ></a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
              <h6>Filter</h6>
            </li>

            <li><a class="dropdown-item" href="#">Today</a></li>
            <li><a class="dropdown-item" href="#">This Month</a></li>
            <li><a class="dropdown-item" href="#">This Year</a></li>
          </ul>
        </div> -->

        <div class="card-body">
          <h5 class="card-title">Todos with today's deadline</h5>

          <div class="activity">
            {% if todos %} {% for todo in todos %}
            <div class="activity-item d-flex">
              <div class="activite-label">{{ todo.duedate }}</div>
              <i
                class="bi bi-circle-fill activity-badge text-success align-self-start"
              ></i>
              <div class="activity-content">
                {{ todo.title }}
                <a href="{% url 'todos' %}" class="fw-bold text-dark">view</a>
              </div>
            </div>
            <!-- End activity item-->
            {% endfor %} {% else %}
            <div class="activity-item d-flex">
              <div class="activity-content">No todos with today's deadline</div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- End Recent Activity -->

      <!-- Budget Report -->
      <div class="card">
        <!-- <div class="filter">
          <a class="icon" href="#" data-bs-toggle="dropdown"
            ><i class="bi bi-three-dots"></i
          ></a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
              <h6>Filter</h6>
            </li>

            <li><a class="dropdown-item" href="#">Today</a></li>
            <li><a class="dropdown-item" href="#">This Month</a></li>
            <li><a class="dropdown-item" href="#">This Year</a></li>
          </ul>
        </div> -->

        <div class="card-body">
          <h5 class="card-title">Upcoming events</h5>
          <div class="activity">
            {% if events %} {% for event in events %}
            <div class="activity-item d-flex">
              <div class="activite-label">{{ event.enddate }}</div>
              <i
                class="bi bi-circle-fill activity-badge text-success align-self-start"
              ></i>
              <div class="activity-content">
                {{ event.name }}
                <a href="{% url 'events' %}" class="fw-bold text-dark">view</a>
              </div>
            </div>
            <!-- End activity item-->
            {% endfor %} {% else %}
            <div class="activity-item d-flex">
              <div class="activity-content">No upcoming events</div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- End Budget Report -->

      <!-- Website Traffic -->
      <div class="card">
        <div class="card-body pb-0">
          <h5 class="card-title">Website Traffic <span>| Today</span></h5>
        </div>
      </div>
      <!-- End Website Traffic -->

      <!-- News & Updates Traffic -->
      <div class="card">
        <div class="card-body pb-0">
          <h5 class="card-title">News & Updates</h5>
        </div>
      </div>
      <!-- End News & Updates -->
    </div>
    <!-- End Right side columns -->
  </div>
</section>

{% endblock %}
