/* Custom CSS styles */
body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}
img {
  width: 100%;
}

.jumbotron {
  background-color: #007bff;
  color: #fff;
  padding: 16em 1em;
  margin-bottom: 0;
}
.btn-get-started {
  background-color: #fff;
  color: #007bff;
  border: 2px solid #007bff;
  padding: 1em 2em;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.btn-get-started:hover {
  background-color: #007bff;
  color: #fff;
}

.about-section {
  padding: 8em 0;
}
@media screen and (min-width: 768px) {
  .feature-item {
      margin-bottom: 1.5em;
  }
  #brandname{
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  
  
.display-3 , .display-4{
  font-size: 3rem;
}
}
.feature-icon {
  font-size: 2rem;
  margin-right: 0.5rem;
  color: #007bff;
}
.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}
.feature-description {
  font-size: 1.1rem;
  color: #555;
}
.feature-list {
  padding-left: 0;
  list-style: none;
}

.custom-card-body {
  padding: 20px;
  background-color: #f8f9fa; /* Example background color */
  border-radius: 10px; /* Example border radius */
}
.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link, .navbar.active .btn {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}


/* Change navbar styling on small viewports */
/* @media (max-width: 991.98px) {
  .navbar {
      background: #fff;
  }

  .navbar .navbar-brand, .navbar .nav-link, .navbar .btn {
      color: #555;
  }
} */

/* Custom CSS for responsive accordion */
.accordion .card {
  border: none;
  background-color: transparent;
  margin-bottom: 10px;
}

.accordion .card-header {
  background-color: #f8f9fa;
  padding: 0;
}

.accordion .card-header h5 {
  margin: 0;
  padding: 0.75rem 0.5rem;
  font-size: 18px;
  font-weight: bold;
}

.accordion .card-header button {
  width: 100%;
  text-align: left;
  color: #333;
}

.accordion .card-body {
  padding: 1rem;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  border-top: 1px solid #dee2e6;
}

/* Add hover effect on card-header */
.accordion .card-header:hover {
  background-color: #e9ecef;
}
